@model IEnumerable<coreData.Model.Role>

@{
    ViewData["Title"] = "Index";
}

<h1>Roles</h1>

<p>
    <a asp-action="Create"  class="btn btn-outline-success" >Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleDescription)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-outline-warning" asp-route-id="@item.RoleID">Edit</a> |
             
                    <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.RoleID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
